
<h3>Feature :tutoring</h3>

<table border="1">
  <tr>
    <td>Status: </td>
    <td><%=helioth.feature(:tutoring).status%></td>
  </tr>
  <tr>
    <td>Lang:</td>
    <td><%=I18n.locale%></td>
  </tr>
  <tr>
    <td>User role:</td>
    <td><%=current_user.role?%></td>
  </tr>
  <tr>
    <td>Instance role:</td>
    <td><%=current_instance.role?%></td>
  </tr>
  <tr>
    <td>User access to :tutoring?</td>
    <td>
      <%if access_to?(:tutoring)%>
        Yes
      <%else%>
        No
      <%end%>
    </td>
  </tr>
  <tr>
    <td>User access to :send of :tutoring?</td>
    <td>
      <%if access_to?(:tutoring, :send)%>
        Yes
      <%else%>
        No
      <%end%>
    </td>
  </tr>
</table>
